<h1><%= @user %></h1>
<% if @user == current_user %>
  <div>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>
<div class="row mt-3">
  <% @refs.each do |ref| %>
    <div class="col-md-3">
      <%= render ref %>
    </div>
  <% end %>
</div>
<%= paginate @refs %>
