<div class="refs">
  <% @refs.each do |ref| %>
    <div class="ref">
      <%
      resize = '512'
      if ref.video.attached?
        thumb = ref.video.preview(resize: resize)
      elsif ref.image.attached?
        thumb = ref.image.variant(resize: resize)
      end
      %>
      <%= image_tag thumb unless thumb.nil? %>
      <div class="data">
        <p><%= ref.title %></p>
        <%= link_to 'Browse site', ref.url, target: :_blank unless ref.url.nil? %>
        <% unless ref.keywords.blank? %><p><%= ref.keywords %></p><% end %>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @refs %>
