<div class="row">
  <% @refs.each do |ref| %>
    <div class="col-md-3 mb-5">
      <%= link_to ref do %>
        <article class="refs__index__ref">
          <div class="thumb">
            <% if ref.video.attached? && ref.video.previewable? %>
              <%= image_tag ref.video.preview(resize: '512'), class: 'img-fluid' %>
            <% elsif ref.video.attached? %>
              <%= video_tag url_for(ref.video), class: 'img-fluid' %>
            <% elsif ref.image.attached? %>
              <%= image_tag ref.image.variant(resize: '512'), class: 'img-fluid' %>
            <% end %>
          </div>
          <div class="data">
            <p><%= ref.title %></p>
          </div>
        </article>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @refs %>
