<div class="row">
  <% @refs.each do |ref| %>
    <div class="col-md-3 ref__list">
      <%= link_to ref do %>
        <div class="ref__list__media">
          <% if ref.image.attached? %>
            <%= image_tag ref.image, class: 'img-fluid' %>
          <% end %>
          <% if ref.video.attached? %>
            <%= video_tag url_for(ref.video), class: 'img-fluid' %>
          <% end %>
        </div>
        <div class="ref__list__data">
          <h1><%= ref.title %></h1>
          <p><%= ref.description %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @refs %>