<% content_for :title, @ref %>
<div class="refs__show">
  <div class="refs__show__media">
    <% if @ref.image.attached? %>
      <%= image_tag @ref.image, class: 'img-fluid' %>
    <% end %>
    <% if @ref.video.attached? %>
      <%= video_tag url_for(@ref.video), controls: true, autoplay: true, loop: true, class: 'img-fluid' %>
    <% end %>
  </div>
  <div class="refs__show__data">
    <h1><%= @ref.title %></h1>
    <p><%= @ref.description unless @ref.description.blank? %></p>
    <p><%= @ref.keywords %></p>
    <p><%= link_to @ref.url, @ref.url, target: :_blank %></p>
  </div>
  <div class="refs__show__meta">
    <p>
      Referenced on <%= l @ref.created_at, format: '%d/%m/%Y' %><br/>
      by <%= link_to @ref.user, @ref.user %>
    </p>
    <% if @ref.user == current_user %>
      <%= link_to 'Edit', edit_ref_path(@ref), class: 'btn btn-light btn-sm' %>
      <%= link_to 'Destroy', @ref, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-sm' %>
    <% end %>
  </div>
</div>
