<% content_for :title, @ref %>
<h1><%= @ref.title %></h1>
<%= image_tag @ref.image, class: 'img-fluid' if @ref.image.attached? %>
<%= video_tag url_for(@ref.video), controls: true, autoplay: true, loop: true, class: 'img-fluid' if @ref.video.attached? %>

<div class="row mt-5">
  <div class="offset-md-1 col-md-3">
    <% unless @ref.description.blank? || @ref.description == 'null' %>
      <p><%= @ref.description %></p>
    <% end %>
    <p><%= @ref.keywords %></p>
    <p><%= link_to @ref.url, @ref.url, target: :_blank %></p>
  </div>
  <div class="offset-md-1 col-md-3">
    <p>
      Referenced on <%= l @ref.created_at, format: '%d/%m/%Y' %><br/>
      by <%= link_to @ref.user, @ref.user %>
    </p>
  </div>
  <div class="offset-md-1 col-md-3">
    <p>Tags</p>
    <ul class="list-inline">
      <% @ref.tags.each do |tag| %>
      <li><%= link_to tag, tag %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="refs__show">
  <div class="refs__show__media">
  </div>
  <div class="refs__show__data">
  </div>
  <div class="refs__show__meta">
    <div>
    </div>
    <% if @ref.user == current_user %>
      <%= link_to 'Edit', edit_ref_path(@ref), class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Destroy', @ref, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
