<!DOCTYPE html>
<html>
  <head>
    <title>User Interface Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= 'live' if @live %>">
    <nav>
      <div id="logo">
        <%= link_to image_tag('logo.svg'), root_path %>
      </div>
      <% unless @live %>
      <div id="search">
        <form action="/">
          <input type="text" name="search" placeholder="Search" value="<%= "#{@search}" %>"/>
        </form>
      </div>
      <div id="plus">
        <%= link_to open_iconic(:icon, :plus), new_ref_path %>
      </div>
      <% end %>
    </nav>
    <div class="container-fluid">
      <%= yield %>
      <footer class="clear">
        <br/>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-light' %>
      </footer>
    </div>
  </body>
</html>
